body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    margin: 0;
    padding: 0;
    border-bottom: 0.5vh solid black; 
    background-color: black;
}

div.PROJECT-FC {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vh;
    font-family: sans-serif;
    font-size: 4vh;
    color: white;
}

div.PROJECT-FC .logo_principal {
    height: 16vh;
    width: 16vh;
    margin-left: 5vh;
}

main{
    display: flex; 
    margin: 0;
    padding: 0;
    background-color: white;
    align-items: center;
    justify-content: center; 
    margin-top: 6vh;
}

div.Login {
display: flex; 
flex-direction: column; 
align-items: center;
justify-content: center;
background-color: black;
height: 60vh;
width: 80vh;
color: white;
}

a{
text-decoration: none;
color: white;
margin-top: 4vh;
}